@page "/movies"
@using Microsoft.EntityFrameworkCore
@using Movies.Models
@inject IDbContextFactory<Movies.Data.MoviesContext> DbFactory

<PageTitle>Movies</PageTitle>

<h1>Movies</h1>

<p>
    <a href="/movies/create">Create New</a>
</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (var movie in movies)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    @if (!string.IsNullOrEmpty(movie.Images))
                    {
                        <img src="@movie.Images" class="card-img-top" alt="@movie.Title" style="height: 300px; object-fit: cover;" />
                    }
                    else
                    {
                        <div class="card-img-top bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 300px;">
                            No Image
                        </div>
                    }
                    <div class="card-body">
                        <h5 class="card-title">
                            @if (!string.IsNullOrEmpty(movie.URL))
                            {
                                <a href="@movie.URL" target="_blank">@movie.Title</a>
                            }
                            else
                            {
                                @movie.Title
                            }
                        </h5>
                        <p class="card-text">
                            <strong>Release Date:</strong> @movie.ReleaseDate.ToString("yyyy-MM-dd")<br />
                            <strong>Genre:</strong> @movie.Genre<br />
                            @if (!string.IsNullOrEmpty(movie.Brief))
                            {
                                <strong>Brief:</strong> 
                                @(movie.Brief.Length > 100 ? movie.Brief.Substring(0, 100) + "..." : movie.Brief)
                            }
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="@($"/movies/details?id={movie.Id}")" class="btn btn-info btn-sm">Details</a>
                        <a href="@($"/movies/edit?id={movie.Id}")" class="btn btn-primary btn-sm">Edit</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Movie>? movies;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        movies = await context.Movie.ToListAsync();
    }
}